
  .table{
    margin: 0px;
    display: grid;
    grid-template-columns: 15% 15% 15% 1fr;
    gap: 1px;
    width:100%;
    text-align: center;
    border: 1px solid #bcc1bd;
    padding: 5px;
  }
.table div{
    display:grid;
    border: 1px solid #bcc1bd;
    align-content: center;
    align-content: center;
    color: #000000;
    font-size: 20px;
    font-family: Arial,sans-serif;
  }
img{
  height: 200px;

  }
